


$homepage-bg-image: url('../themes/default/images/background.jpg');
$header-bg:  linear-gradient(to bottom,rgba(117,151,184, 1),rgba(82,118,153, 1));
$header-image: none;
$footer-bg: linear-gradient(to bottom,rgba(86,89,106, 1),rgba(69,72,87, 1));
$content-wrapper-bg: #CACACA;

header.global {
  border-bottom: 1px solid #373737 !important;
}

.nav-global {
  li {
    a {
      color: #DADADA !important;
    }
    a:link:before, a:hover, a:link:hover {
      color: #fff !important;
    }
  }
}

.home>header {
    box-shadow: inherit !important;
    border-bottom: 0 !important;
    background-position: right center !important;

    .outer-wrapper {
      padding: 154px 10px !important;
    }

    .title {
      margin: 0 !important;
      text-align: center !important;
      width: 100% !important;
      opacity: 0.8 !important;
    }

    .title>hgroup {
      h1 {
        text-align: center !important;
      }
    }
  }

.nav-colophon {

  span {
    color: #99CDE2 !important;
  }

  li {
    a {
      color: #99CDE2 !important;
    }
  }
}

.wrapper-footer {
  padding: 0 !important;

  footer {
    margin: 33px auto 0 !important;

    a:link:hover, a:hover, a:link:before, span.copy:hover {
      border-bottom: none;
      color: #C6FAFF !important;
    }
  }
}

.cover-image:before {
  background: rgb(58,81,105) !important;

  a:link:before, a:hover, a:link:hover {
    background: rgb(58,81,105) !important;
  }
}

.content-wrapper {
  background-image: url('../themes/default/images/background_course_1.jpg') !important;
  padding-bottom: 0 !important;
}

.find-courses {
  background: $content-wrapper-bg !important;
}

header.global {

  .user {
    background-color: #dadada !important;
    border-radius: 3px !important;
    border: 1px solid #cacaca !important;
  }
}

header.global.slim {
  h1{
    padding-right: 136px !important;
  }
  h2 {
    color: #dadada !important;
    text-shadow: none !important;

    .provider {
      color: inherit !important;
    }
  }
}

.wrapper-preview-menu {
  background-color: inherit !important;
}

.inner-wrapper {
  max-width: none !important;

  hgroup {
    width: 62.5% !important;
    padding:20px 0 !important;
    opacity: 0.8 !important;
  }
}

.info-wrapper {
  margin-bottom: 20px !important;
}

.logo {
  a:link:hover, a:hover, a:link:before {
    opacity: 0.5 !important;
  }
}

.footer-about-openedx {
  a:link:hover, a:hover, a:link:before {
    opacity: 0.5 !important;
  }
}
